<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHighResolutionCapable</key>
	<string>True</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>This app requires access to control System Events to retrieve dock information.</string>
	<key>CFBundleName</key>
	<string>Click2Hide</string>
	<key>LSApplicationCategory</key>
	<string>public.app-category.utilities</string>
</dict>
</plist>
